## <b>Listas, tuplas y diccionarios</b>
---

1. Crea una lista de N elementos, dato que se pide por teclado, y a continuación llene de números enteros aleatorios entre 1 y 10.
Posteriormente mostrar la lista y el número que más se repite.

In [22]:
import random

lista = []

n = input('Indique cantidad de elementos:')

for i in range(int(n)):
    num = random.randint(1,10)
    lista.append(num)

print(lista)

mvp = max(lista, key = lista.count)

print('Numero mas repetido:', mvp)

Indique cantidad de elementos: 20

[2, 5, 5, 2, 5, 6, 10, 1, 9, 1, 2, 3, 1, 9, 1, 9, 3, 7, 2, 1]
Numero mas repetido: 1

2. Almacenar en dos tuplas los nombres de 5 empleados o empleadas de una empresa y de sus salarios, respectivamente. A continuación:
    1. Mostrar la tupla de los nombres y la tupla de los salarios.
    2. Mostrar el nombre de los empleados con mayor y de menor salario.

In [31]:
empleados = ('Juan', 'Ignacio', 'Cristian', 'Zaira', 'Dani')
salarios = (1500, 1000, 1200, 700, 1000)

salario_max = max(salarios)
count = 0

for i in salarios:
    if i == salario_max:
        empleado_max = empleados[count]
    count += 1

print(empleados)
print(salarios)
print()
print('Empleado:',empleado_max, '-', salario_max,'€')

('Juan', 'Ignacio', 'Cristian', 'Zaira', 'Dani')
(1500, 1000, 1200, 700, 1000)

Empleado: Juan - 1500 €